.nav-container {
  padding: 0.7rem 4rem;
  border-bottom: 1px solid #5d5fef;
  background: #5d5fef;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10;
}

.nav-container:hover {
  cursor: pointer;
}

.d-flex {
  gap: 0.5rem;
}

.dropdown-custom-1::after {
  display: none;
}

.dropdown-custom-1 {
  position: relative;
}

.dropdown-custom-1 svg:nth-child(2) {
  position: absolute;
  top: -5px;
  right: -5px;
}

.login {
  margin-top: 0;
  background: white;
  font-weight: 550;
  color: #5d5fef;
  border: none;
  font-size: 0.8rem;
}

.register {
  color: white;
  background: #5d5fef;
  border: 1px solid white;
  font-weight: 550;
  font-size: 0.8rem;
}

.login:hover {
  background: #eeeeff;
  color: #5d5fef;
}

.register:hover {
  background: #494bdb;
  border: 1px solid white;
}

h4 {
  color: white;
  margin: 0;
}

.img-container {
  border-radius: 50%;
  width: auto;
  height: 2.3rem;
}

.info-container {
  text-align: right;
}

.info-ava {
  width: 30rem;
}

.info-ava:hover {
  cursor: pointer;
}

.username {
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
}

.role {
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
}

.icon {
  width: 2rem;
  height: 1.4rem;
  fill: white;
}

.icon:hover {
  cursor: pointer;
}

.sub-nav-container {
  color: white;
  font-size: 1rem;
}

.nav-brand-container {
  color: white;
  font-weight: 600;
  padding-bottom: 0.45rem;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.8rem;
  position: relative;
  padding-right: 1.8rem;
  position: relative;
}

.notification-item:hover {
  background-color: #e8e8fe !important;
}

.notification-up {
  display: flex;
  align-items: center;
  position: relative;
}

.notification-item img {
  width: 1.6rem;
  margin-right: 0.6rem;
}

.notification-item svg {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translate(0%, -50%);
}

.dropdown-item {
  width: 50%;
  background-color: transparent !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

.drop-down-menu {
  position: absolute;
  top: 100%;
  transform: translateX(-90%);
}

.drop-down-menu::-webkit-scrollbar {
  width: 5px;
}

.drop-down-menu::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 20px;
}

.drop-down-menu::-webkit-scrollbar-track {
  background-color: white;
}
