h3{
    color: #2C2C66;
    text-align: center;
    margin-top: 2rem;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}