h3{
    color: #2C2C66;
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
}

.info-container-content{
    width: 45%;
    display: flex;
    gap: 1rem;
    margin: 2rem 31rem;
}

.profile-option-container{
    width: 32%;
    height: 48%;
    background: #EEEEFF;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #c8c8fa;
}

.ava-content-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 4rem;
}

.img-option{
    width: 35%;
    height: 100%;
    border-radius: 0.3rem;
}

.content-option{
    height: 60%;
    width: 65%;
}

.username-option{
    color: #2C2C66;
    font-weight: 600;
    font-size: 0.8rem;
}

.role-option{
    color: #2C2C66;
    font-weight: 500;
    font-size: 0.8rem;
}

.line-content-container{
    margin: 1rem 0 0.7rem 0;
    border-bottom: 1px solid #2C2C66;
}

.edit-profile-option{
    width: 100%;
    font-size: 0.8rem;
    background: #5D5FEF;
    color: white;
    margin-top: 0.5rem;
    font-weight: 500;
    padding: 0.4rem;
    border: none;
}

.edit-profile-option:hover{
    background: #494bdb;
    color: white;
    border: none;
}

.user-profile-container{
    margin-top: 7rem;
}