.JoinClass {
  margin-top: 4.1rem;
  margin-left: 17rem;
  position: relative;
  padding: 0 6rem;
  padding-top: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem 1rem;
}

.save-button {
  font-size: 0.8rem;
  background: #5d5fef;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.save-button:hover {
  background: #4c4eb6 !important;
}

.find-classroom {
  height: 2.5rem;
  width: 10rem;
  background: #5d5fef;
  color: white;
  border: none;
}

.find-classroom:hover {
  background: #4c4eb6;
}

.banner-container {
  margin-top: 3rem;
  height: 12.5rem;
  position: relative;
}

.classroom-banner {
  object-fit: cover;
  border-radius: 1rem;
}

.classroom-name {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: white;
}

.classroom-note {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.classroom-owner {
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  color: white;
  font-weight: 500;
}

.classroom-code {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.text-cote {
  color: white;
}