.classroom-container {
  margin-top: 4rem;
  margin-left: 17rem;
}

.banner-container {
  height: 12.5rem;
  position: relative;

}

.classroom-banner {
  object-fit: cover;
  border-radius: 1rem;
}

.classroom-name {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: white;
}

.classroom-note {
  position: absolute;
  top: 5rem;
  left: 1.5rem;
  color: white;
  font-weight: 500;
}

.classroom-owner {
  position: absolute;
  top: 6.5rem;
  left: 1.5rem;
  color: white;
  font-weight: 500;
}

.classroom-code{
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.text-cote{
  color: white;
}

.sub-nav {
  border-bottom: 1px solid #b8b8c2;
  padding: 0 1.5rem;
}

.tab-layout {
  height: 3.2rem;
}

.tab-button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1.5rem;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  font-weight: bold;
  color: #2c2c66;
}

.tab-button:hover {
  background-color: #eaeaea;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  color: #2c2c66;
}

.tab-button-active {
  color: #5d5fef;
  border-bottom: 3px solid #5d5fef;
  border-top: 3px solid transparent;
}

.tab-button-active:hover {
  color: #5d5fef;
  background-color: #e6e6ff;
  border-bottom: 3px solid #5d5fef;
}

.invite-email {
  background-color: #5d5fef !important;
  padding: 0.1rem 0.8rem;
}

.invite-email:hover {
  background-color: #4c4eb6 !important;
}

.copy-email {
  background-color: #5d5fef !important;
  padding: 0.1rem 0.5rem;
  font-size: .8rem;
  border: none;
}

.copy-email:hover {
  background-color: #4c4eb6 !important;
}

.content {
  padding: 0 6rem;
  padding-top: 1.5rem;
}

.modal-container {
  font-size: 0.8rem;
}

.modal-heading {
  color: #2c2c66;
  font-size: 1.4rem;
}

.close-button {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem 1rem;
}

.save-button {
  font-size: 0.8rem;
  background: #5d5fef;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.save-button:disabled{
  background: #5d5fef;
  opacity: 0.7;
  cursor:none
}

.save-button:hover {
  background: #4c4eb6;
}

.deadline-container{
  border: 1px solid #b9b9d3;
  border-radius: 0.5rem;
  padding: 1.2rem 1.2rem 0.8rem 1.2rem;
  height: 9rem;
}

/* .classroom-detail-container{
  background: pink;
} */

.deadline-title{
  font-size: 0.85rem;
}

.deadline-content{
  font-size: 0.8rem;
  padding-top: 0.5rem;
  margin: 0;
}

.deadline-more{
  text-align: right;
  color: #5d5fef;
  font-size: 0.85rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

.untyping-container{
  height: 4.5rem;
  border: 1px solid #b9b9d3;
  border-radius: 0.5rem;
  color: rgba(0,0,0,.549);
  font-size: 0.8rem;
}

.untyping-img{
  border-radius: 50%;
  width: auto;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.untyping-container:hover{
  color: #5d5fef;
  cursor: pointer;
}

.typing-container{
  border-radius: 0.5rem;
  border: 1px solid #b9b9d3;
  color: rgba(0,0,0,.549);
  font-size: 0.8rem;
}


.button-post{
  font-size: 0.8rem;
  background: #5D5FEF;
  color: white;
  margin-top: 0.5rem;
  font-weight: 500;
  padding: 0.4rem 1.2rem;
  border: none;
}

.button-post:hover{
  background: #494bdb;
  color: white;
  border: none;
}

.button-cancel{
  font-size: 0.8rem;
  background: #6c757d;
  color: white;
  margin-top: 0.5rem;
  font-weight: 500;
  padding: 0.4rem 1.2rem;
  border: none;
}

.button-cancel:hover{
  background: #4f575e;
  color: white;
  border: none;
}

.content-container{
  border: 1px solid #b9b9d3;
  border-radius: 0.5rem;
  /* color: rgba(0,0,0,.549); */
  font-size: 0.8rem;
  margin-top: 1.3rem;
}

.content-title-creator{
  font-size: 0.85rem;
  color: #212529;
  margin: 0;
}

.content-title-time{
  font-size: 0.7rem;
}

.content-body-container{
  margin: 1rem 0 0.5rem 0;
  padding-bottom: 0.5rem;
}

.title-body-container{
  margin: 1.1rem 0 0.5rem 0;
  font-size: 1rem;
}

.flex-allpart-container{
  padding-bottom: 2rem;
}

.horizontal-cmt{
  border-top: 1px solid #b9b9d3;
  padding-top: 1rem;
}

.cmt-img{
  border-radius: 50%;
  width: auto;
  height: 2.2rem;
  margin-right: 0.5rem;
}

.cmt-title-creator{
  font-size: 0.85rem;
  color: #212529;
  margin: 0;
}

.cmt-title-content{
  font-size: 0.85rem;
}

.more-margin-bottom{
  margin-bottom: 1.2rem;
}

.button-send{
  font-size: 0.8rem;
  background: #5D5FEF;
  color: white;
  font-weight: 500;
  padding: 0.5rem 1.2rem 0.3rem 1.2rem;
  border: none;
  margin: 0;
  height: 2.2rem;
}

.button-send:hover{
  background: #494bdb;
  color: white;
  border: none;
}

.form-cmt{
  box-sizing: border-box;
  height: 2.2rem;
}

.more-w{
  width: 90%;
}