.forget {
  background-color: #eeeeff;
  height: 100vh;
}

.forget .form-size {
  width: 500px;
}

.forget .form-title {
  color: #2c2c66;
}

.forget .form-text {
  color: #94a3bb;
}

.forget .submit-button {
  background-color: #5d5fef !important;
}

.forget .back-button{
  /* background-color: #5D5FEF !important; */
  color: #5D5FEF;
  cursor: pointer;
}

.forget .submit-button:hover {
  background-color: #4c4eb6 !important;
}

.forget .error-message {
  color: rgb(196, 0, 0);
  font-style: italic;
  font-size: 14px;
}
.forget .resend{
  color: #5D5FEF;
  cursor: pointer;
}
.forget .input-verify{
  font-size: 30px;
  padding: 0px 14px;
  font-weight: bold;
  letter-spacing: 11px;
}

.forget .email{
  color: #5D5FEF;
}

.forget .password{
  position: relative;
}

.forget .show-password-icon{
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.forget .hide-password-icon{
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-40%,-50%);
  cursor: pointer;
}

.forget .password-confirm{
  position: relative;
}

.forget .show-password-confirm-icon{
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.forget .hide-password-confirm-icon{
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-40%,-50%);
  cursor: pointer;
}

.forget .email-text{
  flex-wrap: wrap;
}