.sidebar-container{
    border-right: 1px solid #b8b8c2;
    /* margin-top: 4rem; */
    top: 4rem;
    height: 92vh;
    position: fixed;
    left: 0;
    font-size: 1.1rem;
    width: 17rem;
    z-index: 10;
}

.active-custom{
    background: pink;
}

.middle-line{
    border-bottom: 1px solid #b8b8c2;
    margin: 2.3rem 0 1.8rem 0;
}